<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-gb" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Lorem Ipsum...</title>
<style type="text/css">
.style1 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
</style>
</head>

<body>

<p>
<h1>Sample Email</h1>
<p class="style1">Dear {%= name %},</p>
<p class="style1">Thanks for signing up to our email list. What about clicking this
<a href="http://localhost/trackedLink?userId={%= userid %}">tracked link</a>.</p>
<p class="style1">Kind regards,</p>
<p class="style1">Sample Company.</p>

</body>

</html>
