<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-gb" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Dear</title>
<style type="text/css">
.style1 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
</style>
</head>

<body>

<p>
<img alt="My Sample Company" height="114" src="sample-company.png" width="699" /></p>
<p class="style1">Dear {%= name %},</p>
<p class="style1">Please buy our amazing product. Please click our lovely
<a href="http://www.ciseware.com/tracked?user={%= userid %}">tracked link</a>.</p>
<p class="style1">Kind regards,</p>
<p class="style1">The boss.</p>

</body>

</html>
